.editorconfig
.gitattributes
.github
.gitignore
.gitlab-ci.yml
.idea
.pre-commit-config.yaml
.readthedocs.yml
.travis.yml
venv
.venv
.tox
.pytest_cache
.mypy_cache
.vscode
tags
**/*.pyc
**/__pycache__
.mypy_cache
db.sqlite3
envs